@import "tailwindcss";
/* @import "tw-animate-css"; */

@custom-variant dark (&:is(.dark *));

/*==============================
   CUSTOM PROPERTIES
===============================*/
@theme inline {
  --breakpoint-xs: 30rem;
  
  --text-15-16: clamp(0.9375rem, 0.9155rem + 0.0939vw, 1rem);       /** From 0.9375rem at 375px to 1rem at 1440px */
  --text-15-18: clamp(0.9375rem, 0.8715rem + 0.2817vw, 1.125rem);       /** From 0.9375rem at 375px to 1.125rem at 1440px */
  --text-16-18: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);       /** From 1rem at 375px to 1.125rem at 1440px */
  --text-18-22: clamp(1.125rem, 1.0282rem + 0.4131vw, 1.4rem);        /** From 1.125rem at 375px to 1.4rem at 1440px */
  --text-20-24: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);        /** From 1.25rem at 375px to 1.5rem at 1440px */
  --text-24-36: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);       /** From 1.5rem at 375px to 2.25rem at 1440px */

  --spacing-3-16: clamp(0.2rem, -0.0817rem + 1.2019vw, 1rem);       /** From 0.2rem at 375px to 1rem at 1440px */
  --spacing-16-32: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);       /** From 1rem at 375px to 2rem at 1440px */
  --spacing-16-64: clamp(1rem, -1.8626rem + 12.2137vw, 4rem);       /** From 1rem at 375px to 4rem at 768px */
  --spacing-16-128: clamp(1rem, -10.6667rem + 38.8889vw, 8rem);       /** From 1rem at 480px to 8rem at 768px */
  
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-progressbar: var(--radius-progressbar);
  --radius-aicard: var(--radius-aicard);

  --animate-flicker: flicker 2s infinite;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-skeleton: var(--skeleton);
  --color-error-foreground: var(--error-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-progress-track: var(--progress-track);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-correct: var(--correct-btn);
  --color-incorrect: var(--incorrect-btn);
}

/*==============================
  CSS VARIABLES
===============================*/
:root {

  --radius: 0.625rem;
  --radius-progressbar: .25rem;
  --radius-aicard: .75rem;

  --background: oklch(16.5% 0.03 282);
  --foreground: oklch(100.00% 0.000 0);

  --card: oklch(68.7% 0.164 263 / 0.1);
  --card-foreground: oklch(92% 0.02 260);

  --popover: oklch(20% 0.025 282);
  --popover-foreground: oklch(95% 0.02 280);

  --primary: oklch(58.9% 0.13 239);
  --primary-foreground: oklch(98% 0.005 280);

  --accent: oklch(58.9% 0.13 239);
  --accent-foreground: oklch(95% 0.02 280);

  --secondary: oklch(68.7% 0.164 263 / 0.1);
  --secondary-foreground: oklch(79.4% 0.083 223);

  --muted: oklch(35% 0.015 270);
  --muted-foreground: oklch(92% 0.02 260);

  --destructive: oklch(58% 0.25 27);
  --skeleton: oklch(20% 0.025 282);
  --error-foreground: oklch(71.1% 0.166 22.2);

  --border: oklch(58.9% 0.13 239);
  --input: oklch(65% 0.18 200);
  --ring: oklch(76.5% 0.151 229 / 0.7);
  --progress-track: oklch(70% 0.01 270);

  --chart-1: oklch(76.46% 0.151 229.43);
  --chart-2: oklch(59.87% 0.265 335.87);
  --chart-3: oklch(69.6% 0.17 162.48);
  --chart-4: oklch(76.5% 0.151 229 / 0.7);   
  --chart-5: oklch(63.977% 0.09281 155.827);

  --correct-btn: oklch(63.977% 0.09281 155.827);
  --incorrect-btn: oklch(64.734% 0.18145 23.642);
}

/*==============================
  - DARK NEON THEME
===============================*/
.dark {
  --background: oklch(16.5% 0.03 282);
  --foreground: oklch(100.00% 0.000 0);

  --card: oklch(68.7% 0.164 263 / 0.1);
  --card-foreground: oklch(92% 0.02 260);

  --popover: oklch(20% 0.025 282);
  --popover-foreground: oklch(95% 0.02 280);

  --primary: oklch(58.9% 0.13 239);
  --primary-foreground: oklch(98% 0.005 280);

  --accent: oklch(58.9% 0.13 239);
  --accent-foreground: oklch(95% 0.02 280);

  --secondary: oklch(68.7% 0.164 263 / 0.1);
  --secondary-foreground: oklch(79.4% 0.083 223);

  --muted: oklch(35% 0.015 270);
  --muted-foreground: oklch(92% 0.02 260);

  --destructive: oklch(58% 0.25 27);
  --skeleton: oklch(20% 0.025 282);
  --error-foreground: oklch(71.1% 0.166 22.2);

  --border: oklch(58.9% 0.13 239);
  --input: oklch(65% 0.18 200);
  --ring: oklch(58.9% 0.13 239);
  --progress-track: oklch(70% 0.01 270);

  --chart-1: oklch(76.46% 0.151 229.43);
  --chart-2: oklch(59.87% 0.265 335.87);
  --chart-3: oklch(69.6% 0.17 162.48);
  --chart-4: oklch(76.5% 0.151 229 / 0.7);
  --chart-5: oklch(63.977% 0.09281 155.827);

  --correct-btn: oklch(63.977% 0.09281 155.827);
  --incorrect-btn: oklch(58% 0.24 30);
}

/*==============================
  Base
===============================*/
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply flex flex-col items-center justify-center bg-background text-foreground font-medium;
    min-height: 100vh;
    min-height: 100dvh;

    font-family: 'Poppins', system-ui, sans-serif;

    background-image:
      url('/src/assets/backgrounds/scribble.svg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    background-size: 150%;
    animation: zoomDrift 150s linear infinite;
  }

  main {
    @apply flex flex-col items-center justify-center text-16-18;
  }

  button,
  [role="button"] {
    @apply cursor-pointer;
    -webkit-tap-highlight-color: transparent;
  }

  h1 {
    @apply text-secondary-foreground mb-8 text-center text-24-36 font-bold;
    text-wrap: balance;
    -webkit-text-wrap: balance;
    text-wrap: pretty;
  }

  form>h2 {
    @apply text-20-24;
  }

  h2 {
    @apply mb-4;
  }

  a {
    @apply hover:text-chart-3
  }

  strong {
    @apply text-16-18;
  }
}

/*==============================
  Utilities
===============================*/
@layer utilities {
  .minimal-mode-animations {
    animation: none !important;
    transition: none !important;
  }

  .minimal-mode-illustrations {
    background-image: none;
  }

  .main-action {
    @apply min-w-12 min-h-12 p-3;
  }

  .game-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: oklch(0% 0 none / 0.3);
    z-index: 1;
    border-radius: 1rem;
  }

  .game-card>* {
    z-index: 2;
  }

  .fifty-fifty-btn {
    background: none;
  }

  .purple-bg {
    background: radial-gradient(65.28% 65.28% at 50% 100%,
        rgba(223, 113, 255, 0.8) 0%,
        rgba(223, 113, 255, 0) 100%),
      linear-gradient(0deg, #7a5af8, #7a5af8);

    box-shadow:
      0 0 0 0.1rem #ffffff44 inset,
      0 0 0.6rem rgba(255, 255, 255, 0.1);
  }

  .side-glow {
    position: relative;
  }

  .side-glow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.625rem;
    right: -0.625rem;
    background: radial-gradient(ellipse at left center, oklch(76.5% 0.151 229 / 0.3), transparent 70%),
      radial-gradient(ellipse at right center, oklch(59.9% 0.265 336 / 0.3), transparent 70%);
    z-index: -1;
    pointer-events: none;
    opacity: 0.2;
  }
}

@keyframes zoomDrift {
  0% {
    background-position: 0% 0%;
    background-size: 150%;
  }

  50% {
    background-size: 152%;
  }

  100% {
    background-position: 100% 100%;
    background-size: 150%;
  }
}

@keyframes flicker {

  0%,
  100% {
    box-shadow: 0 0 6px oklch(72.531% 0.11656 238.701), 0 0 12px oklch(72.531% 0.11656 238.701);
  }

  50% {
    box-shadow: 0 0 2px oklch(72.531% 0.11656 238.701), 0 0 4px oklch(72.531% 0.11656 238.701);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}